.file-list {
  margin: 20px 0;
  padding: 15px;
  background: #f0f8ff;
  border-radius: 5px;
}

.file-list h4 {
  margin-top: 0;
  color: #333;
}

.file-item {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.file-item:last-child {
  border-bottom: none;
}
